.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */

.comment-container {
  display: flex;
}
.TitleName {
  display: flex;
  align-items: center;
}
.icon {
  background-color: #0b69ff;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  text-align: center;
  color: white;
}
.title {
  font-weight: bold;
  padding-left: 8px;
  padding-right: 10px;
  margin-bottom: 0px;
  list-style-type: none;
}
.time {
  color: #64748b;
  font-size: 13px;
  margin-bottom: 0px;
  list-style-type: none;
}
.cmt {
  font-size: 13px;
  color: #334155;
  padding-left: 6px;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.like {
  font-size: 12px;
  padding-left: 5px;
  cursor: pointer;
  background-color: transparent;
  border-width: 0px;
}
.like-box {
  display: flex;
  align-items: center;
}
.delete {
  cursor: pointer;
  background-color: transparent;
  border-width: 0px;
}
